@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the font faces */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;

}

/* Add more @font-face rules as needed for other weights and styles */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  font-family: 'IBM Plex Mono', monospace;
}

/* Ensure all elements inherit the font family */
* {
  font-family: 'IBM Plex Mono', monospace;
}

@keyframes wiggle {
  0%, 100% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
}

@keyframes wiggleAndLift {
  0%, 100% {
    transform: rotate(-5deg) translateY(0);
  }
  25% {
    transform: rotate(5deg) translateY(-5px);
  }
  50% {
    transform: rotate(-5deg) translateY(-10px);
  }
  75% {
    transform: rotate(5deg) translateY(-5px);
  }
}

.inline-flex.items-center:hover {
  animation: wiggle 0.5s ease-in-out;
}

.button-fade-in {
  animation-delay: 2.9s;
}

.custom-shape-divider-bottom-1719604383 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1719604383 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1719604383 .shape-fill {
  fill: #000000;
}

